{% extends 'base.html' %}

{% block title %}Actualizar Asistencia{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Actualizar Asistencia</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="horas" class="form-label">Horas Asistidas</label>
            <input type="number" class="form-control" id="horas" name="horas" value="{{ registro.horas_asistidas }}" required>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" value="{{ registro.fecha_clase }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
