{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: #c3c7f4;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
                            <p class="text-dark-50 mb-5">Por favor, ingresa Usuario y Contraseña</p>

                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                {% if form.errors %}
                                <p class="text-danger">El nombre de usuario o contraseña no son correctos.</p>
                                {% endif %}

                                <!-- Campo de usuario/email -->
                                <div data-mdb-input-init class="form-outline form-dark mb-4">
                                    <input type="text" id="typeEmailX" name="username" class="form-control form-control-lg" required>
                                    <label class="form-label" for="typeEmailX">Nombre de Usuario</label>
                                </div>

                                <!-- Campo de contraseña -->
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" required>
                                    <label class="form-label" for="typePasswordX">Contraseña</label>
                                </div>

                                <!-- Botón de inicio de sesión -->
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Iniciar Sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
