/* General */
html{
    min-height: 100%;
    position: relative; 
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 40px;
}

/* Footer */
.footer {
    background: #f6bcba;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Barra de Navegación Horizontal */
#navbar {
    background-color: #c8a8e9; /* Fondo claro */
    border-bottom: 2px solid #f4e7fb; /* Línea divisoria */
    padding: 0.5rem 1rem; /* Espaciado */
    display: flex; /* Usar flexbox para alineación */
    justify-content: space-between; /* Espaciar elementos */
    align-items: center; /* Centrar verticalmente */
}

#navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff; /* Morado */
    text-decoration: none;
}

#navbar .navbar-brand:hover {
    color: #333; /* Cambiar a gris oscuro al pasar el mouse */
}

#navbar .nav-link { /* Estilos para los enlaces de navegación */
    color: #ffffff; 
    font-size: 1.2rem; /* Tamaño del texto */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s; /* Transición suave */
}

#navbar .nav-link:hover {
    color: #495057; /* Texto más oscuro al pasar el mouse */
}


/* Encabezado (header) */
header.masthead {
    background: url('../images/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh; /* Pantalla completa */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

header.masthead .container {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro translúcido */
    padding: 2rem;
    border-radius: 10px;
}

header.masthead h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

header.masthead p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

header.masthead .btn-xl {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

header.masthead .btn-xl:hover {
    background-color: #0056b3;
}

/* Sección "Acerca de Nosotros" */
#about {
    text-align: center; /* Centrar el contenido */
    padding: 4rem 1rem; /* Espaciado alrededor */
    background-color: #f8f9fa; /* Fondo claro */
}

#about h2 {
    font-size: 4rem; /* Texto más grande */
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333; /* Color oscuro para contraste */
}

#about p {
    font-size: 1.25rem; /* Texto del párrafo más grande */
    color: #555; /* Color gris para el texto */
}

/* Sección "Servicios" */
#services {
    display: flex; /* Mostrar los elementos en una fila */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Centrar el texto */
    padding: 4rem 1rem; /* Espaciado alrededor */
    gap: 3rem; /* Espaciado entre elementos */
    background-color: #e3aadd; /* Fondo azul */
    color: #fff; /* Texto blanco */
}

.service-item {
    flex: 1; /* Distribuir el espacio uniformemente */
    max-width: 350px; /* Ancho máximo */
}

.service-item i {
    font-size: 5rem; /* Íconos más grandes */
    margin-bottom: 1rem;
    color: #fff;
}

.service-item h4 {
    font-size: 2rem; /* Títulos más grandes */
    margin-bottom: 0.5rem;
    color: #fff;
}

.service-item p {
    font-size: 1.25rem; /* Texto descriptivo más grande */
    color: #fff;
}



/* Responsive Design */
@media (max-width: 768px) {
    #services {
        flex-direction: column; /* Mostrar elementos en columna */
    }

    .service-item {
        max-width: 100%; /* Usar todo el ancho */
        margin-bottom: 2rem; /* Espacio entre elementos */
    }

    #about h2 {
        font-size: 2.5rem; /* Reducir tamaño del título */
    }

    #about p {
        font-size: 1rem; /* Reducir tamaño del párrafo */
    }

    #sidebar-wrapper {
        width: 200px; /* Reducir ancho en pantallas pequeñas */
    }
}


.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 129, 203), rgb(37, 252, 91));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #c3c7f4, #c8a8e9, #e3aadd, #f6bcba, #f2dddc, #f4e7fb)
    }


.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.table-rounded {
    border-radius: 10px;
    overflow: hidden; /* Esto es importante para que el contenido no sobresalga de los bordes redondeados */
}


.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
}
