{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Encabezado -->
<header class="masthead">
    <div class="container text-center">
        <h1 class="mb-3">Bienvenido al Sistema de Control de Asistencias</h1>
        <p class="mb-4">Un sistema diseñado para maximizar la asistencia y la productividad.</p>
        
    </div>
</header>


<!-- Sección "Acerca de Nosotros" -->
<section id="about">
    <div class="container">
        <h2>Acerca de Nosotros</h2>
        <p>Este sistema permite gestionar asistencias de manera eficiente, registrando y mostrando estadísticas relevantes.</p>
    </div>
</section>

<!-- Sección "Servicios" -->
<section id="services">
    <div class="container">
        <h2 class="mb-5">Servicios</h2>
        <div id="services">
            <div class="service-item">
                <i class="fas fa-tasks"></i>
                <h4>Gestión</h4>
                <p>Administra y organiza tus asistencias con facilidad.</p>
            </div>
            <div class="service-item">
                <i class="fas fa-chart-line"></i>
                <h4>Control</h4>
                <p>Consulta y registra asistencias en tiempo real.</p>
            </div>
            <div class="service-item">
                <i class="fas fa-lock"></i>
                <h4>Acceso</h4>
                <p>Protección con usuarios y roles personalizados.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}









